

.chatPage {
    height: calc(100svh - 66px) !important;
    width: 100%;
    border-top: 2px solid #ffffff;
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    overflow: hidden;
}


.messagesArea {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #252525;
    color: #ffffff;
}

.announcement{
    clear: both;
    width: 100%;
    /*background: #000;*/
    padding: 10px;
    text-align: center;
}

.announcement.join hr{
    height: 5px;
    background: #60e6cd;
    border-radius: 10px;
}
.announcement.leave hr{
    background: linear-gradient(to right,rebeccapurple,darkred);
    height: 5px;
    border-radius: 10px;
}
.announcement .msg{
    font-size: 1.7rem;

}

.message {
    max-width: 50%;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    word-break: break-word;
    border: 2px solid #555555;
    clear: both;
}
.message.incoming{
    background-color: #333333;

}
.message.outgoing{
    float: right;
    clear: both;
    background-color: #454545;
}
.message span {
    font-weight: 500;
    color: #f0f0f0;
    font-size: 1.3rem;
}

.message p {
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #cccccc;
}

.message small {
    color: #999999;
    font-size: 1.2em;
}

.sendArea {
    display: flex;
    padding: 10px 20px;
    background-color: #333333;
    border-top: 1px solid #444444;
}

.sendArea input {
    flex: 1;
    padding: 10px;
    border: 1px solid #555555;
    font-size: 1.6rem;
    letter-spacing: 2px;
    border-top-left-radius: 10px !important;
    background-color: #404040;
    color: #ffffff;
}

.sendArea button {
    padding: 10px 15px;
    background-color: #007BFF;
    border: none;
    border-top-right-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 768px) {
    .message,.message.outgoing {
        max-width: 100%;
        width: 100%;
    }
}

.sendArea input::placeholder{
    color: rgba(255, 255, 255, 0.68);
}
.sendArea input:focus {
    border-color: #007BFF;
    outline: none;
}

.sendArea button:hover {
    background-color: #0056b3;
}

.messagesArea::-webkit-scrollbar {
    width: 6px;
    background-color: #333333;
}

.messagesArea::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 3px;
}

@media (max-width: 568px) {
    .message p{
        font-size: 1.4rem;
    }
}


.loadingArea{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 50%;
}

.loadingArea hr{
    width: 100%;
    margin-bottom:10px;
}

.loadingArea p{
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    line-height: 2;
}


@media (max-width: 700px) {
    .loadingArea{
        width: 100%;
    }
}

.noMessagesDiv{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noMessagesDiv p{
    font-size: 1.8rem;
    line-height: 2;
}



.errorArea{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.errorArea p{
    font-size: 2rem;
}