/* General styling for the chat page with a dark theme */

.chatPage {
    height: calc(100svh - 66px) !important;
    width: 100%;
    border-top: 2px solid #ffffff; /* Dark border */
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c; /* Dark background for the entire page */
    overflow: hidden;
}


/* Styling for the messages area */
.messagesArea {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #252525; /* Dark background for the messages area */
    color: #ffffff; /* White text for contrast */
}

/* Styling for individual messages */
.message {
    max-width: 50%;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Darker shadow */
    word-break: break-word;
    border: 2px solid #555555; /* Darker border */
    clear: both;
}
.message.incoming{
    background-color: #333333; /* Darker color for odd messages */

}
.message.outgoing{
    float: right;
    clear: both;
    background-color: #454545; /* Dark background for messages */
}
/* Styling for sender name */
.message span {
    font-weight: bold;
    color: #f0f0f0; /* Light color for sender's name */
    font-size: 1.6rem;
}

/* Styling for the message text */
.message p {
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #cccccc; /* Light grey for text */
}

/* Styling for the timestamp */
.message small {
    color: #999999; /* Grey for timestamp */
    font-size: 1.2em;
}

/* Styling for the send area */
.sendArea {
    display: flex;
    padding: 10px 20px;
    background-color: #333333; /* Dark background for the send area */
    border-top: 1px solid #444444; /* Darker border */
}

/* Styling for the text input */
.sendArea input {
    flex: 1;
    padding: 10px;
    border: 1px solid #555555; /* Dark border */
    font-size: 1.6rem;
    letter-spacing: 2px;
    border-top-left-radius: 10px !important;
    background-color: #404040; /* Dark background for the input */
    color: #ffffff; /* White text for input */
}

/* Styling for the send button */
.sendArea button {
    padding: 10px 15px;
    background-color: #007BFF; /* Blue button color for visibility */
    border: none;
    border-top-right-radius: 10px;
    color: #ffffff; /* White text */
    font-weight: bold;
    cursor: pointer;
}

/* Change the message box to full width on smaller screens */
@media (max-width: 768px) {
    .message,.message.outgoing {
        max-width: 100%;
        width: 100%;
    }
}

.sendArea input::placeholder{
    color: rgba(255, 255, 255, 0.68);
}
.sendArea input:focus {
    border-color: #007BFF; /* Highlight the border on focus */
    outline: none;
}

.sendArea button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.messagesArea::-webkit-scrollbar {
    width: 6px;
    background-color: #333333; /* Darker scrollbar */
}

.messagesArea::-webkit-scrollbar-thumb {
    background-color: #555555; /* Grey thumb for scrollbar */
    border-radius: 3px;
}

@media (max-width: 568px) {
    .message p{
        font-size: 1.4rem;
    }
}


.loadingArea{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 50%;
}

.loadingArea hr{
    width: 100%;
    margin-bottom:10px;
}

.loadingArea p{
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    line-height: 2;
}


@media (max-width: 700px) {
    .loadingArea{
        width: 100%;
    }
}

.noMessagesDiv{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noMessagesDiv p{
    font-size: 1.8rem;
    line-height: 2;
}



.errorArea{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.errorArea p{
    font-size: 2rem;
}