/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    transition: .3s ease-in-out;
}

ul li a.active{
    color: lawngreen;
    background-color: #444;

}
ul li a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.8rem;
    transition: background-color 0.3s, color 0.3s;
}

ul li a:hover {
    background-color: #444;
    color: lawngreen;
}

.open-menu,.close-menu{
    display: none;
    font-size: 3rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.open-menu:hover,.close-menu:hover{
    box-shadow: 0px 3px 12px 0px #0eb3ae;
}
@media (max-width: 768px) {
    .open-menu,.close-menu{
        display: block;
    }
    ul{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        right: 0;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 30px;
        padding-right: 20px;
        width: 50%;
        align-items: center;
        top: 66px;
        height: calc(100vh - 64px);
        background: cornflowerblue;
    }
    ul.active-menu{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}












